/* GRID LAYOUT */
.radio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Uiverse styles */
.label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 15px;
    cursor: pointer;
    height: 50px;
    position: relative;
    border-radius: 10px;
}

.label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 45px;
    z-index: -1;
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #2a2e3c;
}

.label:hover::before {
    background-color: #33394a;
}

.label input[type="radio"] {
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #202030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label input[type="radio"]:checked {
    background-color: #435dd8;
    animation: pulse 0.7s forwards;
}

.label input[type="radio"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(0);
    transition: 0.1s;
}

.label input[type="radio"]:checked::before {
    transform: scale(1);
}

.label:has(input:checked)::before {
    background-color: #2d3750;
    border-color: #435dd8;
}

.text {
    color: white;
    font-size: 14px;
}

/* Pulse animation */
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255,255,255,0.4); }
    70% { box-shadow: 0 0 0 8px rgba(255,255,255,0); }
    100% { box-shadow: 0 0 0 0 rgba(255,255,255,0); }
}