name: Close Parent Issue

on:
  issues:
    types: [closed]

jobs:
  close-parent:
    runs-on: ubuntu-latest
    steps:
      - name: Close parent when all sub-issues are closed
        uses: mheap/close-parent-issue@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
